.auth{
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}
.img{
  display: none;
  height: 100vh;
  width: 800px;
}
.img img{
  height: 100vh!important;
  object-fit: revert;
}
.form-row{
  flex-grow: 1;
}
.form{
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
}
.form-header{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  line-height: 2.9rem;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.form-header .title{
  width: 50%;
  position: relative;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  padding-bottom: 23px;
}
.form-header .title.active .nuxt-link{
  color: #029AAD;
}
.form-header .title:after{
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background: #EFEFEF;
  border-radius: 5px;
}
.form-header .title.active:after{
  background: #029AAD!important;
}
.form-inner{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7rem;
}
.row-group{
  width: 100%;
  margin-bottom: 4rem;
  position: relative;
}
.form-row-icon{
  position: absolute;
  top: 50%;
  left: 21px;
  transform: translate(0, -50%);
}
.form-phone{
  position: absolute;
  top: 0;
  left: 0;
  width: 96px;
  height: 100%;
  background: #DFECE9;
  border-radius: 50px 0px 0px 50px;
  border: 1px solid #969696;
  border-right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
.form-phone span{
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
  color: #000000;
  margin-left: 10px;
}
.row-group .password{
  padding-right: 45px;
}
.eyes{
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(0, -50%);
  cursor: pointer;
}

.row-group input{
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #969696;
  border-radius: 50px;
  padding: 1.5rem 3rem 1.5rem 47px;
  font-size: 1.7rem;
  line-height: 2rem;
}
.row-group-phone input{
  padding: 1.5rem 3rem 1.5rem 111px;
}
.row-group-bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 4rem;
}
.remember{
  font-size: 1.7rem;
  line-height: 2rem;
  display: flex;
  align-items: center;
  width: max-content;
  cursor: pointer;
}
.remember input{
  width: 19px;
  height: 19px;
  margin-top: 0;
}
.remember label{
  cursor: pointer;
}
.remember input, .remember img{
  margin-right: 12px;
  cursor: pointer;
}
.form-inner button{
  background: #029AAD;
  border-radius: 50px;
  border: 0;
  padding: 16px 4rem;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #FFFFFF;
  font-weight: bold;
}
.row-multi{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.row-single-group{
  width: 47%;
  min-width: 150px;
  margin-bottom: 4rem;
  position: relative;
}
.row-single-group input, .row-group select{
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #969696;
  border-radius: 50px;
  padding:  1.5rem 3rem 1.5rem 47px;
  font-size: 1.7rem;
  line-height: 2rem;
}
.row-group select{
  -webkit-appearance: none;
  padding-right: 60px;
  position: relative;
  z-index: 2;
  background-color: transparent;
}
.row-group .select-arrow{
  content: "";
  position: absolute;
  right: 21px;
  top: 50%;
  width: 18px;
  height: 10px;
  background-image: url("../../img/select-arrow.svg");
  background-repeat: no-repeat;
  transform: translate(0, -50%);
  z-index: 1;
}
.img-mobile{
  display: none;
}
.verification-header{
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 1;
  color: #029AAD;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 5rem;
}
.verification-header img{
  margin-right: 2rem;
  height: 1.9rem;
}
.verification-text{
  font-weight: 400;
  font-size: 17px;
  line-height: 1.2;
  text-align: center;
  color: #000000;
  margin-bottom: 5rem;
}
.verification-input{
  position: relative;
  margin-bottom: 5rem;
}
.verification-input img{
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translate(0, -50%);
}
.verification-input input{
  background: #FFFFFF;
  border: 1px solid #969696;
  border-radius: 50px;
  width: 100%;
  font-size: 17px;
  line-height: 20px;
  padding: 1rem 10px 1rem 47px;
}
.verification-input input::placeholder{
  color: rgba(0, 0, 0, 0.3);
}
.verification-btn{
  display: flex;
  justify-content: center;
}
.verification-btn button{
  background: #029AAD;
  border-radius: 50px;
  border: 0;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #FFFFFF;
  width: 183px;
  padding: 10px 0;
  text-align: center;
}
input:focus, select:focus{
  outline: none;
}
@media (max-width: 1700px) {
  .img{
    width: 600px;
  }
}
@media (max-width: 2000px) and (min-width: 1200px) and (min-height: 750px){
  .img{
    display: block;
  }
}
@media (max-width: 768px) and (min-height: 500px) {
  .img-mobile{
    width: 100%;
    height: 200px;
    display: block;
    margin-bottom: 50px;
  }
  .img-mobile img{
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
  }
}
@media (max-width: 768px) {
  .auth{
    display: block;
  }

  @media (max-width: 768px) {
    .auth {
      display: block;
    }

    .form-row-icon {
      width: 10px;
      left: 10px;
    }

    .row-group input {
      font-size: 12px;
      line-height: 12px;
    }

    .row-group input, .row-single-group input, .row-single-group select, .row-group select {
      padding: 1.5rem 3rem 1.5rem 27px;
    }
    .form-phone{
      width: 50px;
    }
    .form-phone span{
      font-size: 12px;
      margin-left: 5px;
    }
    .form-phone-icon{
      width: 15px;
    }
    .row-group-phone input{
      padding: 1.5rem 3rem 1.5rem 57px;
    }
  }

}
@media (max-height: 750px) {
  .form{
    padding: 50px 0;
  }
}
