/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box!important;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh!important;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.2!important;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}
a{
  color: #000000;;
  text-decoration: none!important;
}
a:hover{
  text-decoration: underline;
}
.nuxt-link:hover{
  text-decoration: none;
}
button:hover{
  opacity: 0.9;
}

a, button{
  cursor: pointer;
}
/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}
button{
  user-select: none;
  background-color: transparent;
  border: 0;
}
.scroll::-webkit-scrollbar {
  width: 3px;
}
.scroll::-webkit-scrollbar-track {
  background-color: transparent;
}
.scroll::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy Light'), local('Gilroy-Light'),
  url('../fonts/Gilroy-Light.woff2') format('woff2'),
  url('../fonts/Gilroy-Light.woff') format('woff'),
  url('../fonts/Gilroy-Light.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
html {
  font-family:
    Gilroy,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  line-height: 1.2!important;
  word-spacing: 1px!important;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: #000000;
  font-size: 10px!important;
}
body{
  background: #F8F8F8!important;
}
.page-body{
  padding: 3rem 5rem!important;
  max-width: 1240px;
}
.page .info{
  width: 240px;
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page .info .header{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page .info .header span{
  color: #029AAD;
  font-size: 2rem;
  line-height: 2.4rem;
  margin-top: 2rem;
  font-weight: bold;
}
.page .info .info-body{
  margin: 6rem;
  font-size: 15px;
  line-height: 17px;
  color: #000000;
  width: 100%;
}
.page .info .info-body .description{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.page .info .info-body .description:last-child{
  margin-bottom: 0;
}
.page .info .bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 13px;
  line-height: 15px;
}
.page .info .bottom button{
  background-color: transparent;
  border-radius: 50px;
  padding: 8px 12px;
  border: 0;
}
.page .info .bottom .start{
  background: #029AAD;
  color: #FFFFFF;
  font-weight: bold;
}
.page .info .bottom .back{
  border: 1px solid #029AAD;
  box-sizing: border-box;
  color: #029AAD;
}
.add-button{
  font-size: 13px;
  line-height: 1;
  color: #029AAD;
  border: 1px solid #029AAD;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 9px 12px 9px 30px;
  position: relative;
  margin: 20px 0 20px auto;
  display: block;
}
.question-add{
  width: 200px;
}
.add-button:before{
  content: "";
  position: absolute;
  left: 9px;
  top: 50%;
  transform: translate(0, -50%);
  width: 12px;
  height: 12px;
  background-image: url("../../assets/img/plus.svg");
}
.add-button:hover{
  background-color: #029AAD;
  color: #FFFFFF;
  font-weight: bold;
  transition: all .3s ease-in 0s;
}
.add-button:hover:before{
  transition: all .3s ease-in 0s;
  background-image: url("../../assets/img/plus-white.svg");
}
.add-form-button{
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  padding: 12px 24px;
  background: #029AAD;
  border-radius: 50px;
  display: block;
  font-weight: bold;
  margin: 40px auto 0;
}
.common-buttons{
  margin-top: 25px;
}
.common-buttons button{
  margin-right: 20px;
  border: 1px solid #029AAD;
  box-sizing: border-box;
  border-radius: 50px;
  color: #029AAD;
  padding: 5px 15px;
}
.common-buttons button:first-child{
  background-color: #029AAD;
  color: #FFFFFF;
  font-weight: bold;
}
.question-item-actions button{
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
}
.modal-delete-text{
  width: 100%;
  display: flex;
  min-height: 150px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal-text{
  text-align: center;
}
.modal-text .edit-pass-input{
  background: #FFFFFF;
  border: 1px solid #969696;
  box-sizing: border-box;
  border-radius: 50px;
  padding: 10px 15px;
  font-size: 20px!important;
}
.modal-text .edit-pass-input:focus{
  outline: none;
}
.bold{
  font-weight: bold!important;
}
.login-logo{
  width: 120px;
  height: 50px;
  display: block;
  margin: 0 auto 30px;
}
.login-logo img{
  width: 120px;
  height: 50px;
  object-fit: none;
}
.error{
  border: 1px solid #ee1a1a!important;
}
@media (max-width: 767px) {
  html{
  }
  .page-body{
    padding: 20px!important;
  }
}
@media screen and (-webkit-min-device-pixel-ratio:0) {

  select:focus,
  textarea:focus,
  input:focus {
    font-size: 16px!important;
  }
}
@media (max-width: 500px) {
  .page-body{
    padding: 3rem 15px;
  }
}
